/*  your css code here. If applicable */
.container{padding:10px;
		   background-color:#D3D3D3;
		   display:inline;
}
.container li{;
	margin-right:1rem;
		list-style:none;
}
.container ul{
	display:flex;
}
.container a{
 text-decoration:none;	
}


